.custom-main-button {
  background-color: #DFCD90; 
  color: #c0cc18;            /* ícone ciano */
  border: none;
  box-shadow: 0 0 12px rgba(168, 157, 6, 0.4);

  width: 160px;        /* Largura maior */
  height: 30px;       /* Altura maior */
  font-size: 1.6rem;  /* Tamanho do ícone */

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1%; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  animation: pulse 2.5s infinite;
}

/* Define a animação pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 12px rgba(168, 157, 6, 0.4);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 24px rgba(168, 157, 6, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 12px rgba(168, 157, 6, 0.4);
  }
}


.custom-main-button:hover {
  transform: scale(2.1);
  box-shadow: 0 0 100px rgba(164, 182, 4, 0.753);
}


/* Ícone do botão "Casa" */
.menu-icon-casa .p-speeddial-action-icon {
  color: #050808 !important;
  font-size: 1.6rem;
 
}

/* Ícone do botão "Inquilino" */
.menu-icon-inquilino .p-speeddial-action-icon {
  
  color: #050808 !important;
  font-size: 1.6rem;
 
}

/* Círculo do botão "Casa" */
.menu-icon-casa.p-speeddial-action {
  background-color: #DFCD90 !important; /* cor de fundo */
  width: 100px !important;                /* largura */
  height: 100px !important;               /* altura */
  border-radius: 50% !important;        /* deixa redondo */
  box-shadow: 0 0 10px #c0cc18 !important; /* sombra */
}

/* Círculo do botão "Inquilino" */
.menu-icon-inquilino.p-speeddial-action {
  background-color: #DFCD90 !important; /* cor de fundo */
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  box-shadow: 0 0 10px #c0cc18 !important;
}

/* Círculo do botão "Sair" */
.menu-icon-sair.p-speeddial-action {
  background-color: #DFCD90 !important;
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  box-shadow: 0 0 10px #c0cc18 !important;
}

/* Ícone do botão "Sair" */
.menu-icon-sair .p-speeddial-action-icon {
  color: #050808 !important;
  font-size: 1.6rem !important;
}


.floating-menu-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

